.exercise {
  width: 100%;
  background: #1a1919;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 3px 3px;

  .logo {
    margin-left: 15px;
    color: gray;
    background-color: #1a1919;
    

    div {
      font-size: 35px;
    }
  }
}

.text {
  margin-left: 10px;

  h3 {
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    padding-top: 5px;
  }

  .approach {
    font-size: 14px;
    font-weight: 400;
    color: gray;
    padding-top: 2px;
  }
}

.icons {
  margin: auto 10px auto auto;

  .more {

    div {
      font-size: 20px;
      color: gray;
    }
  }
}